/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}


header{
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

.userContent{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userTitle{
    color: #fff;
    line-height: 80px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.userForm{
    padding: 20px 30px;
    align-items: center;
}

.userForm div{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.userForm div input{
    height: 100%;
    width: 95%;
    padding-left: 15px ;
    outline: none;
    border-radius: 25px;
    border: 1px solid silver;
    transition: all;
}

.userForm div input:focus{
    border-color: #3498db;
}

.userForm div label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #999;
    font-size: 17px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.userForm div input:focus ~ label,
.userForm div input:valid ~ label{
    top: 0%;
    color: #4158d0;
    font-size: 16px;
    background-color: #fff;
    transform: translateY(-50%);
}

.userForm div button{
    width: 100%;
    height: 50px;
    border: none;
    background: #4158d0;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
}

nav div{
    margin: 10px;
    padding: 10px;
}


nav div a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav div button{
    background-color: #333;
    color: white;
    font-size: medium;
    border: none;
    cursor: pointer;
}

.empContent{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-top: 2rem;
}

.empContent form{
    padding: 20px 30px;
    align-items: center;
}

.empContent form div{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.empContent form div input{
    padding-left: 15px ;
    height: 100%;
    width: 95%;
    outline: none;
    border-radius: 25px;
    border: 1px solid silver;
    transition: all;
}

.empContent form div select{
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 25px;
    border: 1px solid silver;
    transition: all;
    background: #fff;
    padding: 15px;
}

.empContent form div label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #999;
    font-size: 17px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.empContent form div input:focus ~ label,
.empContent form div input ~ label,
.empContent form div select:focus ~ label,
.empContent form div select ~ label{
    top: 0%;
    color: #4158d0;
    font-size: 16px;
    background-color: #fff;
    transform: translateY(-50%);
}



.empContent button{
    width: 30%;
    padding: 10px;
    border: none;
    background: #4158d0;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
}


.empContent form div button:hover{
    background: rgba(9,9,121,1);
    color: #fff;
}
